/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght'var(--text-font-size, 400);
  color: var(--main-color, #000);
  background-color: var(--background-color, #fff);
  background-image: var(--background-image, none);
  background-size: cover;
  background-attachment: fixed;
  padding-block-start: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: grid;
  justify-content: center;
  justify-items: center;
  font-family: var(--accent-font, fantasy);
}

.card {
  background: var(--background-color, #fff);
  max-inline-size: 696px;
  margin-inline: auto;
  border: var(--main-color, #000) solid 2px;
}

.header-title {
  padding-block-start: clamp(7.5rem, 7.148rem + 1.502vi, 8.5rem);
  margin-block-end: 20px;
  font-size: clamp(3.063rem, 2.71rem + 1.502vi, 4.063rem);
  text-transform: uppercase;
}

.header-title:focus,
.header-title:focus-visible {
  outline: none;
}

.header-subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vi, 1.438rem);
  text-transform: uppercase;
}

.header-subtitle,
.theme-menu {
  padding-block-end: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
  inline-size: 84px;
}

.theme-menu__item {
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  padding: 0px 13px;
  transition: opacity 0.3s ease;
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -9px;
  animation: delta 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

.theme-menu__button:not(:disabled):after {
  content: '';
  display: block;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 1px;
  transition: transform 0.3s ease;
  background: currentColor;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.main {
  margin-block-start: 100px;
  font-family: var(--main-font, sans-serif);
  display: grid;
  justify-items: center;
}

.card-list {
  display: grid;
  gap: 52px;
}

.card-header {
  border-block-end: var(--main-color, #000) solid 2px;
  padding: 4px 10px;
}

.card-title {
  font-size: 18px;
  line-height: normal;
  font-variation-settings: 'wght'var(--title-font-size, 700);
}

.container-card-img {
  position: relative;
  overflow: hidden;
}

.card-label {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, fantasy);
  font-weight: var(--text-font-size, 400);
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--main-color, #000);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--text-stroke, #fff);
  inset-inline-end: 25px;
  inset-block-start: 25px;
}

.card-img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.fritrek {
  filter: grayscale(0.8);
}

.sprint {
  filter: saturate(158%);
}

.ono-nado {
  filter: sepia(80%);
}

.vk {
  filter: invert(0.7);
}

.friend {
  filter: brightness(200%);
}

.chill {
  filter: contrast(20%);
}

.concentrate {
  filter: blur(0.5rem);
}

.yandex {
  filter: brightness(140%) blur(0.1rem) hue-rotate(90deg);
}

.card-content {
  border-block-start: var(--main-color, #000) solid 2px;
  padding: 25px 30px 0 25px;
  display: grid;
  gap: 27px;
  font-size: 18px;
  line-height: 1.17;
}

.card-footer {
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap: 5px;
  padding: 25px 25px 23px 25px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  display: flex;
}

.card__icon-button:focus {
  outline: 0;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color, #000);
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

.button {
  border: 2px solid var(--main-color, #000);
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  background-color: var(--background-color, #fff);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color, #000);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  translate: -100% 0%;
}

.button:hover::before {
  animation: move 1s ease-in-out;
}

.card__like-button {
  inline-size: 130px;
}

.button__text,
.button-text,
.button-icon {
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
}

.modal-container {
  padding-block-end: 100px;
  padding-block-start: 50px;
}

.save-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}

.button-icon {
  block-size: 21px;
  inline-size: 21px;
}

.modal {
  border: 2px solid var(--main-color, #000);
  padding: 30px;
  font-family: var(--accent-font, fantasy);
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--background-color, #fff);
  color: var(--main-color, #000);
  max-inline-size: 357px;
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal[open] {
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(2, min-content);
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.modal-icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal-text {
  font-size: 14px;
  text-transform: uppercase;
}

.modal-button {
  inline-size: 100%;
  block-size: 38px;
}

.modal-button-text {
  font-size: 14px;
  text-transform: lowercase;
}

@supports ((-webkit-text-stroke: 1px var(--text-stroke)) or (text-stroke: 1px var(--text-stroke))) {
  .card-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke, #fff);
    text-stroke: 1px var(--text-stroke, #fff);
  }
}

@media (width <=376px) {
  .card-list {
    gap: 50px;
  }

  .card-content {
    padding: 25px 25px 0 25px;
  }

  .save-button {
    flex-direction: column;
  }

  .button-icon {
    block-size: 28px;
    inline-size: 28px;
  }
}