/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P-Regular';

    --text-font-size: 400;
    --title-font-size: 700;

    --background-color: #fff;
    --main-color: #000;
    --text-stroke: #fff;
    --button-text-color: #fff;
    --color-like-contour: #000;
    --color-like-sparks: red;

    --background-image: repeating-linear-gradient(to left, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to top, #d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(to top, #e7e7e7 0.01%, #1a1a1a);
}